name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Connect via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 172.233.1.8
          username: root
          password: I059741h-talo
          script: |
            # Comandos que você deseja executar via SSH
            echo "Conexão SSH estabelecida com sucesso!"
            # Adicione mais comandos aqui, se necessário